\doxysection{src/env.sample.\+h File Reference}
\hypertarget{env_8sample_8h}{}\label{env_8sample_8h}\index{src/env.sample.h@{src/env.sample.h}}


env file which should be renamed to env.\+h  


\doxysubsubsection*{Variables}
\begin{DoxyCompactItemize}
\item 
\Hypertarget{env_8sample_8h_a148a1777c915283bcb3f4bf32233e16b}\label{env_8sample_8h_a148a1777c915283bcb3f4bf32233e16b} 
const char \texorpdfstring{$\ast$}{*} {\bfseries WIFI\+\_\+\+PASSWORD} = "{}"{}
\begin{DoxyCompactList}\small\item\em Used in connect\+To\+Wifi function as password. \end{DoxyCompactList}\end{DoxyCompactItemize}


\doxysubsection{Detailed Description}
env file which should be renamed to env.\+h 

